@import 'variables';

header{
}

.container{
    padding: $main_padding;
}
.container:after{
    content: '';
    display: table;
    clear: both;
}

footer{
    color: $main_color;
    background: $main_bg;
    padding: $main_padding;
}